form{
    border: solid 1px;
    width: 500px;
    margin-left: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    background-color: rgb(163, 230, 150);
}
h1{
    text-align: center;
    background-color: tomato;
    font-size: 40px;
    color: rgb(249, 249, 252);
}
label{
    font-size: 20px;
    font-weight: bold;
    color: indigo;
}
input{
    height: 20px;
    width: 250px;
    margin-left: 20px;
    border-radius: 5px;

}
textarea{
    height: 100px;
    width: 250px;
    margin-left: 20px;
    
}
button{
    height: 50px;
    width: 150px;
    margin-left: 180px;
    background-color: rgb(18, 139, 219);
    color: rgb(241, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
    
